/*
* parent theme for header and footer, global styles
*
*/
.arxiv-header {
  width: 100%;
}
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/* Branding elements */
.arxiv-header .brand {
  float: left;
  display: flex;
  flex-wrap:nowrap;
}
.arxiv-header .brand h1 {
  font-size: 18px;
}
.arxiv-header .brand .arxiv-logo {
  margin: 10px;
}
/* Navigation */
.arxiv-header nav {
  background: #222;
  padding: 0 15px;
}
.arxiv-header .menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.arxiv-header .menu .item {
  padding: 10px;
  order: 3;
  width: 100%;
  text-align: center;
  display: block;
}
.arxiv-header .menu .item a {
  display: block;
  padding: 5px;
}
.arxiv-header .menu .item a:hover,
.arxiv-header .menu .item a:hover::after {
  color: #ccc;
}
@media all and (min-width: 960px) {
  .arxiv-header .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
}
