/*
* parent theme for header and footer, global styles
*
*/

:root > * {
  /* --md-primary-fg-color:        #b31b1b;
  --md-primary-fg-color--light: #fb595a;
  --md-primary-fg-color--dark:  #6b6459; */
  --md-typeset-a-color: #849bf7;
  --md-default-bg-color--dark: #201f22;
  --md-text-font-family:"IBM Plex Sans", Roboto,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  --tech-heading-color: #A84C45;
}

body {
  /* font-family: catamaran, sans-serif; */
  font-style: normal;
  font-weight: 300;
  margin: 0 20px 20px 20px;
}

@media (prefers-color-scheme: light) {
  a {
    color: #263799;
  }
  a:visited {
    color: #d418d4;
  }
  /* I don't really understand this --passed. */
  .md-nav__link--passed {
    color: #263799;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--md-typeset-a-color)
  }
  a:visited {
    color: #913691
  }
}



a:hover {
  color: #6b6459;
}
:root {
  --color-fg-default: --md-default-fg-color;
}
.arxiv-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  border-bottom: 2px solid #b31b1b;
}
.arxiv-content {
  border-bottom: 2px solid #f9f7f7;
  padding-bottom: 15px;
  margin-bottom: -13px;
}
.arxiv-content p {
  font-family: freight-text-pro, serif;
  font-style: normal;
  font-weight: 400;
}
.arxiv-content h2 {
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32pt;
  color: var(--tech-heading-color);
}
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/* Branding elements */
.arxiv-header .brand {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  margin: 0 auto;
}
.arxiv-header .brand h1 {
  font-size: 20px;
  font-family: xenara, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.arxiv-header .brand h1 span {
  font-weight: 400;
  display: none;
}
.arxiv-header .brand .arxiv-logo {
  margin: 0 5px 0 10px;
}
/* Navigation */
.arxiv-header nav {
  padding: 0;
  margin:0;
}
.arxiv-header .menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
  margin:0;
  padding:0;
}
.arxiv-header .menu .item {
  padding: 10px;
  text-align: center;
  display: block;
  width: 100%;
}
.arxiv-header .menu .item a {
  padding: 5px;
}
@media all and (min-width: 600px) {
  .arxiv-header {
    justify-content: space-between;
    flex-wrap:nowrap;
    align-items: center;
    flex-direction: row;
  }
  .arxiv-header .menu {
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    margin: 0;
  }
  .arxiv-header .menu .item {
    width: auto;
  }
  .arxiv-header .brand {
    margin: 0;
  }
  .arxiv-header .brand h1 span {
    display: inline;
  }
}
